@import url("https://fonts.googleapis.com/css?family=Poppins");
html, body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 1em;
  width: 100vw;
}

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: #111111;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

small, .font_small {
  font-size: 0.75em;
}

body section h1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#bc85ee), to(#561493));
  background: linear-gradient(to bottom right, #bc85ee, #561493);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
}

body nav {
  width: 100%;
  -webkit-box-shadow: 0 0 2px 0 #111111;
          box-shadow: 0 0 2px 0 #111111;
  background: #d4b2f4;
  position: fixed;
  top: 0;
  z-index: 99;
}

body nav ul {
  list-style: none;
  padding: 0;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (0.5fr)[4] 0.5fr 0.1fr 0.5fr;
      grid-template-columns: 1fr repeat(4, 0.5fr) 0.5fr 0.1fr 0.5fr;
      grid-template-areas: "home about contact gallery . log . sign";
}

body nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.4em;
  border: 1px solid #111111 inset;
}

body nav ul li p {
  margin: auto;
}

body nav ul li a {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.4em;
  text-decoration: none;
  color: inherit;
  margin: auto;
}

body nav ul li a:visited {
  color: #777777;
}

body nav ul li a:hover {
  border-radius: 1em;
  color: white;
  background: blueviolet;
}

body nav ul li a:active {
  color: black;
}

body nav ul li:nth-child(6) {
  justify-self: flex-end;
}

body nav ul li:nth-child(8) {
  justify-self: flex-start;
}

.is-large {
  padding: 5em 1em;
}

.hero {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 0 2px 0 blueviolet;
          box-shadow: 0 0 2px 0 blueviolet;
}

.goals {
  background-color: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.goals h2 {
  grid-column: 1/-1;
  background: -webkit-gradient(linear, right bottom, left top, from(#bc85ee), to(#561493));
  background: linear-gradient(to left top, #bc85ee, #561493);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goals .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.4fr (1fr)[3];
      grid-template-rows: 0.4fr repeat(3, 1fr);
  padding: 2em;
}

.goals .card img {
  margin: auto;
}

.goals .card h3 {
  margin: auto;
}

.goals .card p {
  text-align: center;
}

.goals .card button {
  color: inherit;
  margin: auto;
  background-color: #d4b2f4;
  border: solid 4px rgba(138, 43, 226, 0.5);
  border-radius: 1em;
  padding: 1em 2em;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.goals .card button:hover {
  background: white;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: scale(1.1, 1.2);
          transform: scale(1.1, 1.2);
}

.spacer {
  height: 100vh;
  width: 100%;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: black;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */